{
  "swagger": "2.0",
  "host": "api.screwdriver.cd",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "info": {
    "title": "Screwdriver API Documentation",
    "version": "3"
  },
  "securityDefinitions": {
    "token": {
      "type": "bearer",
      "name": "X-Token",
      "in": "header"
    }
  },
  "tags": [],
  "paths": {
    "/v4/banners": {
      "get": {
        "summary": "Get banners",
        "operationId": "getV4Banners",
        "description": "Returns all banner records",
        "tags": [
          "v4"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/List Banners",
              "type": "array"
            },
            "description": "Successful"
          }
        }
      },
      "post": {
        "summary": "Create a new banner",
        "operationId": "postV4Banners",
        "description": "Create a specific banner",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Create Banner"
            }
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/buildclusters": {
      "get": {
        "summary": "Get build clusters",
        "operationId": "getV4Buildclusters",
        "description": "Returns all build clusters",
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/List of build clusters",
              "type": "array"
            },
            "description": "Successful"
          }
        }
      },
      "post": {
        "summary": "Create a build cluster",
        "operationId": "postV4Buildclusters",
        "description": "Create a specific build cluster",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Create Build"
            }
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/collections": {
      "get": {
        "summary": "Get collections for requesting user",
        "operationId": "getV4Collections",
        "description": "Returns all collection records belonging to the requesting user",
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/List collections for requesting user",
              "type": "array"
            },
            "description": "Successful"
          }
        }
      },
      "post": {
        "summary": "Create a new collection",
        "operationId": "postV4Collections",
        "description": "Creates a collection",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Create collection"
            }
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/commands": {
      "get": {
        "summary": "Get commands with pagination",
        "operationId": "getV4Commands",
        "description": "Returns all command records",
        "parameters": [
          {
            "type": "integer",
            "description": "Page to paginate",
            "minimum": 1,
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Count to paginate",
            "minimum": 1,
            "maximum": 50,
            "name": "count",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Keyword to search by",
            "maxLength": 200,
            "name": "search",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Sorting option",
            "default": "descending",
            "enum": [
              "ascending",
              "descending"
            ],
            "x-convert": {
              "lowercase": true
            },
            "name": "sort",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Field to sort by",
            "maxLength": 100,
            "name": "sortBy",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Namespace of the Command",
            "maxLength": 64,
            "pattern": "/^[\\w-]+$/",
            "name": "namespace",
            "in": "query"
          },
          {
            "type": "string",
            "enum": [
              "id",
              "namespace",
              "version",
              "description",
              "maintainer",
              "format",
              "habitat",
              "docker",
              "binary",
              "name",
              "pipelineId",
              "createTime",
              "usage",
              "trusted"
            ],
            "name": "distinct",
            "in": "query"
          },
          {
            "type": "string",
            "enum": [
              "false",
              "true"
            ],
            "name": "compact",
            "in": "query"
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/List of commands",
              "type": "array",
              "x-alternatives": [
                {
                  "$ref": "#/x-alt-definitions/List of commands",
                  "type": "array"
                },
                {
                  "$ref": "#/x-alt-definitions/Model 2",
                  "type": "array"
                }
              ]
            },
            "description": "Successful"
          }
        }
      },
      "post": {
        "summary": "Create a new command",
        "operationId": "postV4Commands",
        "description": "Create a specific command",
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/isAdmin": {
      "get": {
        "summary": "Check if a user is admin of a pipeline, event, or job",
        "operationId": "getV4Isadmin",
        "description": "Returns true or false",
        "parameters": [
          {
            "type": "integer",
            "description": "Identifier of this pipeline",
            "x-constraint": {
              "positive": true
            },
            "name": "pipelineId",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Identifier of this event",
            "x-constraint": {
              "positive": true
            },
            "name": "eventId",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Identifier of this Job",
            "x-constraint": {
              "positive": true
            },
            "name": "jobId",
            "in": "query"
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/pipelines": {
      "get": {
        "summary": "Get pipelines with pagination",
        "operationId": "getV4Pipelines",
        "description": "Returns all pipeline records",
        "parameters": [
          {
            "type": "integer",
            "description": "Page to paginate",
            "minimum": 1,
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Count to paginate",
            "minimum": 1,
            "maximum": 50,
            "name": "count",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Keyword to search by",
            "maxLength": 200,
            "name": "search",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Sorting option",
            "default": "descending",
            "enum": [
              "ascending",
              "descending"
            ],
            "x-convert": {
              "lowercase": true
            },
            "name": "sort",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Field to sort by",
            "maxLength": 100,
            "name": "sortBy",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Identifier of this pipeline",
            "x-constraint": {
              "positive": true
            },
            "name": "configPipelineId",
            "in": "query"
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/List of Pipelines",
              "type": "array"
            },
            "description": "Successful"
          }
        }
      },
      "post": {
        "summary": "Create a new pipeline",
        "operationId": "postV4Pipelines",
        "description": "Create a specific pipeline",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Create Pipeline"
            }
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/stats": {
      "get": {
        "summary": "API stats",
        "operationId": "getV4Stats",
        "description": "Should return statistics for the entire system",
        "tags": [
          "v4"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Stats Object"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/status": {
      "get": {
        "summary": "API status",
        "operationId": "getV4Status",
        "description": "Should respond with 200: ok",
        "tags": [
          "v4"
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "string",
              "enum": [
                "OK"
              ]
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/templates": {
      "get": {
        "summary": "Get templates with pagination",
        "operationId": "getV4Templates",
        "description": "Returns all template records",
        "parameters": [
          {
            "type": "integer",
            "description": "Page to paginate",
            "minimum": 1,
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Count to paginate",
            "minimum": 1,
            "maximum": 50,
            "name": "count",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Keyword to search by",
            "maxLength": 200,
            "name": "search",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Sorting option",
            "default": "descending",
            "enum": [
              "ascending",
              "descending"
            ],
            "x-convert": {
              "lowercase": true
            },
            "name": "sort",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Field to sort by",
            "maxLength": 100,
            "name": "sortBy",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Namespace of the Template",
            "maxLength": 64,
            "pattern": "/^[\\w-]+$/",
            "name": "namespace",
            "in": "query"
          },
          {
            "type": "string",
            "enum": [
              "id",
              "labels",
              "config",
              "name",
              "version",
              "description",
              "maintainer",
              "pipelineId",
              "namespace",
              "images",
              "createTime",
              "trusted"
            ],
            "name": "distinct",
            "in": "query"
          },
          {
            "type": "string",
            "enum": [
              "false",
              "true"
            ],
            "name": "compact",
            "in": "query"
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/List of templates",
              "type": "array",
              "x-alternatives": [
                {
                  "$ref": "#/x-alt-definitions/List of templates",
                  "type": "array"
                },
                {
                  "$ref": "#/x-alt-definitions/Model 5",
                  "type": "array"
                }
              ]
            },
            "description": "Successful"
          }
        }
      },
      "post": {
        "summary": "Create a new template",
        "operationId": "postV4Templates",
        "description": "Create a specific template",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Certify input to template validator"
            }
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/tokens": {
      "get": {
        "summary": "Get tokens with pagination",
        "operationId": "getV4Tokens",
        "description": "Returns all token records belonging to the current user",
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Model 9",
              "type": "array"
            },
            "description": "Successful"
          }
        }
      },
      "post": {
        "summary": "Create a new token",
        "operationId": "postV4Tokens",
        "description": "Create a specific token",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Create token"
            }
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/versions": {
      "get": {
        "summary": "API Package Versions",
        "operationId": "getV4Versions",
        "description": "Returns list of Screwdriver package versions and third-party dependencies",
        "tags": [
          "v4"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Versions Object"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/auth/contexts": {
      "get": {
        "summary": "Get all auth contexts",
        "operationId": "getV4AuthContexts",
        "description": "Get all auth contexts",
        "tags": [
          "v4"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Array of Contexts",
              "type": "array"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/auth/crumb": {
      "get": {
        "summary": "Generate crumb",
        "operationId": "getV4AuthCrumb",
        "description": "Should return a crumb",
        "tags": [
          "v4"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Crumb to prevent CSRF Object"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/auth/key": {
      "get": {
        "summary": "Get jwt public key",
        "operationId": "getV4AuthKey",
        "description": "Public Key for verifying JSON Web Tokens",
        "tags": [
          "v4"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Public Key for Verifying JWTs Object"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/banners/{id}": {
      "get": {
        "summary": "Get a single banner",
        "operationId": "getV4BannersId",
        "description": "Return a banner record",
        "parameters": [
          {
            "type": "integer",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Model 1"
            },
            "description": "Successful"
          }
        }
      },
      "put": {
        "summary": "Update a banner",
        "operationId": "putV4BannersId",
        "description": "Update a banner",
        "parameters": [
          {
            "type": "integer",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Update Banner"
            }
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "delete": {
        "summary": "Delete a banner",
        "operationId": "deleteV4BannersId",
        "description": "Delete a specific banner and return null if success",
        "parameters": [
          {
            "type": "integer",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/buildclusters/{name}": {
      "get": {
        "summary": "Get a single build cluster",
        "operationId": "getV4BuildclustersName",
        "description": "Returns a build cluster record",
        "parameters": [
          {
            "type": "string",
            "description": "Name of the build cluster",
            "maxLength": 50,
            "pattern": "/^[\\w-]+$/",
            "name": "name",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Get BuildCluster"
            },
            "description": "Successful"
          }
        }
      },
      "put": {
        "summary": "Update a build cluster",
        "operationId": "putV4BuildclustersName",
        "description": "Update a build cluster",
        "parameters": [
          {
            "type": "string",
            "description": "Name of the build cluster",
            "maxLength": 50,
            "pattern": "/^[\\w-]+$/",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Update BuildCluster"
            }
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "delete": {
        "summary": "Delete a single build cluster",
        "operationId": "deleteV4BuildclustersName",
        "description": "Returns null if successful",
        "parameters": [
          {
            "type": "string",
            "description": "Name of the build cluster",
            "maxLength": 50,
            "pattern": "/^[\\w-]+$/",
            "name": "name",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/builds/{id}": {
      "get": {
        "summary": "Get a single build",
        "operationId": "getV4BuildsId",
        "description": "Returns a build record",
        "parameters": [
          {
            "type": "integer",
            "description": "Identifier of this build",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Get Build"
            },
            "description": "Successful"
          }
        }
      },
      "put": {
        "summary": "Update a build",
        "operationId": "putV4BuildsId",
        "description": "Update a specific build",
        "parameters": [
          {
            "type": "integer",
            "description": "Identifier of this Job",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Update Build"
            }
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/collections/{id}": {
      "get": {
        "summary": "Get a single collection",
        "operationId": "getV4CollectionsId",
        "description": "Returns a collection record",
        "parameters": [
          {
            "type": "integer",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Get collection"
            },
            "description": "Successful"
          }
        }
      },
      "put": {
        "summary": "Update a collection",
        "operationId": "putV4CollectionsId",
        "description": "Update a specific collection",
        "parameters": [
          {
            "type": "integer",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Update collection"
            }
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "delete": {
        "summary": "Delete a single collection",
        "operationId": "deleteV4CollectionsId",
        "description": "Returns null if successful",
        "parameters": [
          {
            "type": "integer",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/coverage/info": {
      "get": {
        "summary": "Get coverage metadata",
        "operationId": "getV4CoverageInfo",
        "description": "Returns object with coverage info",
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/coverage/token": {
      "get": {
        "summary": "Get an access token to talk to coverage server",
        "operationId": "getV4CoverageToken",
        "description": "Returns a token string",
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/events/{id}": {
      "get": {
        "summary": "Get a single event",
        "operationId": "getV4EventsId",
        "description": "Returns a event record",
        "parameters": [
          {
            "type": "integer",
            "description": "Identifier of this event",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Get Event"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/jobs/{id}": {
      "get": {
        "summary": "Get a single job",
        "operationId": "getV4JobsId",
        "description": "Returns a job record",
        "parameters": [
          {
            "type": "integer",
            "description": "Identifier of this Job",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Get Job"
            },
            "description": "Successful"
          }
        }
      },
      "put": {
        "summary": "Update a job",
        "operationId": "putV4JobsId",
        "description": "Update a specific job",
        "parameters": [
          {
            "type": "integer",
            "description": "Identifier of this Job",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Update Job"
            }
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/pipelines/{id}": {
      "get": {
        "summary": "Get a single pipeline",
        "operationId": "getV4PipelinesId",
        "description": "Returns a pipeline record",
        "parameters": [
          {
            "type": "integer",
            "description": "Identifier of this pipeline",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Get Pipeline"
            },
            "description": "Successful"
          }
        }
      },
      "put": {
        "summary": "Update a pipeline",
        "operationId": "putV4PipelinesId",
        "description": "Update a specific pipeline",
        "parameters": [
          {
            "type": "integer",
            "description": "Identifier of this pipeline",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Update Pipeline"
            }
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "delete": {
        "summary": "Delete a single pipeline",
        "operationId": "deleteV4PipelinesId",
        "description": "Returns null if successful",
        "parameters": [
          {
            "type": "integer",
            "description": "Identifier of this pipeline",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/secrets/{id}": {
      "get": {
        "summary": "Get a single secret",
        "operationId": "getV4SecretsId",
        "description": "Returns a secret record",
        "parameters": [
          {
            "type": "integer",
            "description": "Identifier of this secret",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Get Secret"
            },
            "description": "Successful"
          }
        }
      },
      "put": {
        "summary": "Update a secret",
        "operationId": "putV4SecretsId",
        "description": "Update a specific secret",
        "parameters": [
          {
            "type": "integer",
            "description": "Identifier of this secret",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Update Secret"
            }
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "delete": {
        "summary": "Remove a single secret",
        "operationId": "deleteV4SecretsId",
        "description": "Returns null if successful",
        "parameters": [
          {
            "type": "integer",
            "description": "Identifier of this secret",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/templates/{name}": {
      "get": {
        "summary": "Get all template versions for a given template name with pagination",
        "operationId": "getV4TemplatesName",
        "description": "Returns all template records for a given template name",
        "parameters": [
          {
            "type": "string",
            "description": "Template name",
            "maxLength": 64,
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "Page to paginate",
            "minimum": 1,
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Count to paginate",
            "minimum": 1,
            "maximum": 50,
            "name": "count",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Keyword to search by",
            "maxLength": 200,
            "name": "search",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Sorting option",
            "default": "descending",
            "enum": [
              "ascending",
              "descending"
            ],
            "x-convert": {
              "lowercase": true
            },
            "name": "sort",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Field to sort by",
            "maxLength": 100,
            "name": "sortBy",
            "in": "query"
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/List of templates",
              "type": "array"
            },
            "description": "Successful"
          }
        }
      },
      "delete": {
        "summary": "Delete a template",
        "operationId": "deleteV4TemplatesName",
        "description": "Returns null if successful",
        "parameters": [
          {
            "type": "string",
            "description": "Template name",
            "maxLength": 64,
            "name": "name",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/auth/token/{buildId}": {
      "get": {
        "summary": "Generate jwt",
        "operationId": "getV4AuthTokenBuildid",
        "description": "Generate a JWT for use throughout Screwdriver",
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/JSON Web Token Object"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/builds/{id}/metrics": {
      "get": {
        "summary": "Get metrics for this build",
        "operationId": "getV4BuildsIdMetrics",
        "description": "Returns list of metrics for the given build",
        "parameters": [
          {
            "type": "string",
            "x-format": {
              "isoDate": true
            },
            "name": "startTime",
            "in": "query"
          },
          {
            "type": "string",
            "x-format": {
              "isoDate": true
            },
            "name": "endTime",
            "in": "query"
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/builds/{id}/secrets": {
      "get": {
        "summary": "Get all secrets for a given build",
        "operationId": "getV4BuildsIdSecrets",
        "description": "Returns all secrets for a given build",
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/List of secrets",
              "type": "array"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/commands/{namespace}/{name}": {
      "get": {
        "summary": "Get all command versions for a given command namespace/name with pagination",
        "operationId": "getV4CommandsNamespaceName",
        "description": "Returns all command records for a given command namespace/name",
        "parameters": [
          {
            "type": "string",
            "description": "Namespace of the Command",
            "maxLength": 64,
            "pattern": "/^[\\w-]+$/",
            "name": "namespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Name of the Command",
            "maxLength": 64,
            "pattern": "/^[\\w-]+$/",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "Page to paginate",
            "minimum": 1,
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Count to paginate",
            "minimum": 1,
            "maximum": 50,
            "name": "count",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Keyword to search by",
            "maxLength": 200,
            "name": "search",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Sorting option",
            "default": "descending",
            "enum": [
              "ascending",
              "descending"
            ],
            "x-convert": {
              "lowercase": true
            },
            "name": "sort",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Field to sort by",
            "maxLength": 100,
            "name": "sortBy",
            "in": "query"
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/List of commands",
              "type": "array"
            },
            "description": "Successful"
          }
        }
      },
      "delete": {
        "summary": "Delete a command",
        "operationId": "deleteV4CommandsNamespaceName",
        "description": "Returns null if successful",
        "parameters": [
          {
            "type": "string",
            "description": "Namespace of the Command",
            "maxLength": 64,
            "pattern": "/^[\\w-]+$/",
            "name": "namespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Name of the Command",
            "maxLength": 64,
            "pattern": "/^[\\w-]+$/",
            "name": "name",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/events/{id}/metrics": {
      "get": {
        "summary": "Get metrics for this event",
        "operationId": "getV4EventsIdMetrics",
        "description": "Returns list of metrics for the given event",
        "parameters": [
          {
            "type": "string",
            "x-format": {
              "isoDate": true
            },
            "name": "startTime",
            "in": "query"
          },
          {
            "type": "string",
            "x-format": {
              "isoDate": true
            },
            "name": "endTime",
            "in": "query"
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/events/{id}/builds": {
      "get": {
        "summary": "Get builds for a given event",
        "operationId": "getV4EventsIdBuilds",
        "description": "Returns builds for a given event",
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/lastBuilds",
              "type": "array"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/jobs/{id}/lastSuccessfulMeta": {
      "get": {
        "summary": "Get the last successful metadata for a given job",
        "operationId": "getV4JobsIdLastsuccessfulmeta",
        "description": "If no successful builds found in the past 50 builds, will return {}",
        "parameters": [
          {
            "type": "integer",
            "description": "Identifier of this Job",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/admins"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/jobs/{id}/builds": {
      "get": {
        "summary": "Get builds for a given job",
        "operationId": "getV4JobsIdBuilds",
        "description": "Returns builds for a given job",
        "parameters": [
          {
            "type": "integer",
            "description": "Page to paginate",
            "minimum": 1,
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Count to paginate",
            "minimum": 1,
            "maximum": 50,
            "name": "count",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Keyword to search by",
            "maxLength": 200,
            "name": "search",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Sorting option",
            "default": "descending",
            "enum": [
              "ascending",
              "descending"
            ],
            "x-convert": {
              "lowercase": true
            },
            "name": "sort",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Field to sort by",
            "maxLength": 100,
            "name": "sortBy",
            "in": "query"
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/lastBuilds",
              "type": "array"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/jobs/{id}/metrics": {
      "get": {
        "summary": "Get build metrics for this job",
        "operationId": "getV4JobsIdMetrics",
        "description": "Returns list of build metrics for the given job",
        "parameters": [
          {
            "type": "string",
            "x-format": {
              "isoDate": true
            },
            "name": "startTime",
            "in": "query"
          },
          {
            "type": "string",
            "x-format": {
              "isoDate": true
            },
            "name": "endTime",
            "in": "query"
          },
          {
            "type": "string",
            "enum": [
              "none",
              "day",
              "week",
              "month",
              "year"
            ],
            "name": "aggregateInterval",
            "in": "query"
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/pipelines/{id}/triggers": {
      "get": {
        "summary": "Get all jobs for a given pipeline",
        "operationId": "getV4PipelinesIdTriggers",
        "description": "Returns all jobs for a given pipeline",
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/List of triggers",
              "type": "array"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/pipelines/{id}/metrics": {
      "get": {
        "summary": "Get metrics for this pipeline",
        "operationId": "getV4PipelinesIdMetrics",
        "description": "Returns list of metrics for the given pipeline",
        "parameters": [
          {
            "type": "string",
            "x-format": {
              "isoDate": true
            },
            "name": "startTime",
            "in": "query"
          },
          {
            "type": "string",
            "x-format": {
              "isoDate": true
            },
            "name": "endTime",
            "in": "query"
          },
          {
            "type": "string",
            "enum": [
              "none",
              "day",
              "week",
              "month",
              "year"
            ],
            "name": "aggregateInterval",
            "in": "query"
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/pipelines/{id}/jobs": {
      "get": {
        "summary": "Get all jobs for a given pipeline",
        "operationId": "getV4PipelinesIdJobs",
        "description": "Returns all jobs for a given pipeline",
        "parameters": [
          {
            "type": "integer",
            "description": "Page to paginate",
            "minimum": 1,
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Count to paginate",
            "minimum": 1,
            "maximum": 50,
            "name": "count",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Keyword to search by",
            "maxLength": 200,
            "name": "search",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Sorting option",
            "default": "descending",
            "enum": [
              "ascending",
              "descending"
            ],
            "x-convert": {
              "lowercase": true
            },
            "name": "sort",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Field to sort by",
            "maxLength": 100,
            "name": "sortBy",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "name": "archived",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Name of the Job",
            "maxLength": 110,
            "pattern": "/^(PR-[0-9]+:)?[\\w-]+$/",
            "name": "jobName",
            "in": "query"
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/List of jobs",
              "type": "array"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/pipelines/{id}/events": {
      "get": {
        "summary": "Get pipeline type events for this pipeline",
        "operationId": "getV4PipelinesIdEvents",
        "description": "Returns pipeline events for the given pipeline",
        "parameters": [
          {
            "type": "integer",
            "description": "Page to paginate",
            "minimum": 1,
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Count to paginate",
            "minimum": 1,
            "maximum": 50,
            "name": "count",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Keyword to search by",
            "maxLength": 200,
            "name": "search",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Sorting option",
            "default": "descending",
            "enum": [
              "ascending",
              "descending"
            ],
            "x-convert": {
              "lowercase": true
            },
            "name": "sort",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Field to sort by",
            "maxLength": 100,
            "name": "sortBy",
            "in": "query"
          },
          {
            "type": "string",
            "name": "type",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Pull request number if it is a PR event",
            "x-constraint": {
              "positive": true
            },
            "name": "prNum",
            "in": "query",
            "required": false
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/List of events",
              "type": "array"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/pipelines/{id}/secrets": {
      "get": {
        "summary": "Get all secrets secrets for a given pipelines",
        "operationId": "getV4PipelinesIdSecrets",
        "description": "Returns all secrets for a given pipeline",
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/List of secrets",
              "type": "array"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/pipelines/{id}/badge": {
      "get": {
        "summary": "Get a badge for the pipeline",
        "operationId": "getV4PipelinesIdBadge",
        "description": "Redirects to the badge service",
        "parameters": [
          {
            "type": "integer",
            "description": "Identifier of this pipeline",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/pipelines/{id}/tokens": {
      "get": {
        "summary": "List tokens for pipeline",
        "operationId": "getV4PipelinesIdTokens",
        "description": "List tokens for a specific pipeline",
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Model 9",
              "type": "array"
            },
            "description": "Successful"
          }
        }
      },
      "post": {
        "summary": "Create a new token for pipeline",
        "operationId": "postV4PipelinesIdTokens",
        "description": "Create a specific token for pipeline",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Create token"
            }
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "delete": {
        "summary": "Remove all tokens for a specific pipeline",
        "operationId": "deleteV4PipelinesIdTokens",
        "description": "Returns null if successful",
        "parameters": [
          {
            "type": "integer",
            "description": "Identifier of this pipeline",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/templates/{name}/tags": {
      "get": {
        "summary": "Get all template tags for a given template name",
        "operationId": "getV4TemplatesNameTags",
        "description": "Returns all template tags for a given template name",
        "parameters": [
          {
            "type": "string",
            "description": "Template name",
            "maxLength": 64,
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "Page to paginate",
            "minimum": 1,
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Count to paginate",
            "minimum": 1,
            "maximum": 50,
            "name": "count",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Keyword to search by",
            "maxLength": 200,
            "name": "search",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Sorting option",
            "default": "descending",
            "enum": [
              "ascending",
              "descending"
            ],
            "x-convert": {
              "lowercase": true
            },
            "name": "sort",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Field to sort by",
            "maxLength": 100,
            "name": "sortBy",
            "in": "query"
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Model 16",
              "type": "array"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/templates/{name}/{versionOrTag}": {
      "get": {
        "summary": "Get a single template given template name and version or tag",
        "operationId": "getV4TemplatesNameVersionortag",
        "description": "Returns a template record",
        "parameters": [
          {
            "type": "string",
            "description": "Template name",
            "maxLength": 64,
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Version of the Template",
            "maxLength": 16,
            "pattern": "/^(\\d+)(\\.\\d+)?(\\.\\d+)?$/",
            "x-alternatives": [
              {
                "type": "string",
                "description": "Version of the Template",
                "example": "1.2",
                "maxLength": 16,
                "pattern": "/^(\\d+)(\\.\\d+)?(\\.\\d+)?$/"
              },
              {
                "type": "string",
                "description": "Name of the Template Tag",
                "example": "latest",
                "maxLength": 30,
                "pattern": "/^[a-zA-Z][\\w-.]+$/"
              }
            ],
            "name": "versionOrTag",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Get Template"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/auth/login/github:github.com/{web}": {
      "get": {
        "summary": "Login using oauth",
        "operationId": "getV4AuthLoginGithubgithubcomWeb",
        "description": "Authenticate user with oauth provider",
        "tags": [
          "v4"
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "post": {
        "summary": "Login using oauth",
        "operationId": "postV4AuthLoginGithubgithubcomWeb",
        "description": "Authenticate user with oauth provider",
        "tags": [
          "v4"
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/auth/login/guest/{web}": {
      "get": {
        "summary": "Login as an guest user",
        "operationId": "getV4AuthLoginGuestWeb",
        "description": "Authenticate an guest user",
        "tags": [
          "v4"
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/builds/{id}/steps/{name}": {
      "get": {
        "summary": "Get a step for a build",
        "operationId": "getV4BuildsIdStepsName",
        "description": "Returns a step record",
        "parameters": [
          {
            "type": "integer",
            "description": "Identifier of this build",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Name of the Step",
            "maxLength": 64,
            "name": "name",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Get Step metadata"
            },
            "description": "Successful"
          }
        }
      },
      "put": {
        "summary": "Update a step for a build",
        "operationId": "putV4BuildsIdStepsName",
        "description": "Writes a step record",
        "parameters": [
          {
            "type": "integer",
            "description": "Identifier of this build",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Name of the Step",
            "maxLength": 64,
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Update Step metadata"
            }
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Get Step metadata"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/builds/{id}/artifacts/{name*}": {
      "get": {
        "summary": "Get a single build artifact",
        "operationId": "getV4BuildsIdArtifactsName",
        "description": "Redirects to store with proper token",
        "parameters": [
          {
            "type": "integer",
            "description": "Identifier of this build",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "name",
            "in": "path"
          },
          {
            "type": "string",
            "enum": [
              "download",
              "preview"
            ],
            "name": "type",
            "in": "query"
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/commands/{namespace}/{name}/{versionOrTag}": {
      "get": {
        "summary": "Get a single command given command namespace, name and version or tag",
        "operationId": "getV4CommandsNamespaceNameVersionortag",
        "description": "Returns a command record",
        "parameters": [
          {
            "type": "string",
            "description": "Namespace of the Command",
            "maxLength": 64,
            "pattern": "/^[\\w-]+$/",
            "name": "namespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Name of the Command",
            "maxLength": 64,
            "pattern": "/^[\\w-]+$/",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Version of the Command",
            "maxLength": 16,
            "pattern": "/^(\\d+)(\\.\\d+)?(\\.\\d+)?$/",
            "x-alternatives": [
              {
                "type": "string",
                "description": "Version of the Command",
                "example": "1.2",
                "maxLength": 16,
                "pattern": "/^(\\d+)(\\.\\d+)?(\\.\\d+)?$/"
              },
              {
                "type": "string",
                "description": "Name of the Command Tag",
                "example": "latest",
                "maxLength": 30,
                "pattern": "/^[a-zA-Z][\\w-.]+$/"
              }
            ],
            "name": "versionOrTag",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Get Command"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/commands/{namespace}/{name}/tags": {
      "get": {
        "summary": "Get all command tags for a given command namespace and name",
        "operationId": "getV4CommandsNamespaceNameTags",
        "description": "Returns all command tags for a given command namespace and name",
        "parameters": [
          {
            "type": "string",
            "description": "Namespace of the Command",
            "maxLength": 64,
            "pattern": "/^[\\w-]+$/",
            "name": "namespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Name of the Command",
            "maxLength": 64,
            "pattern": "/^[\\w-]+$/",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "Page to paginate",
            "minimum": 1,
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Count to paginate",
            "minimum": 1,
            "maximum": 50,
            "name": "count",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Keyword to search by",
            "maxLength": 200,
            "name": "search",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Sorting option",
            "default": "descending",
            "enum": [
              "ascending",
              "descending"
            ],
            "x-convert": {
              "lowercase": true
            },
            "name": "sort",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Field to sort by",
            "maxLength": 100,
            "name": "sortBy",
            "in": "query"
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/List of command tags",
              "type": "array"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/pipelines/{id}/{jobName}/badge": {
      "get": {
        "summary": "Get a badge for a job",
        "operationId": "getV4PipelinesIdJobnameBadge",
        "description": "Redirects to the badge service",
        "parameters": [
          {
            "type": "integer",
            "description": "Identifier of this pipeline",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Name of the Job",
            "maxLength": 110,
            "pattern": "/^(PR-[0-9]+:)?[\\w-]+$/",
            "name": "jobName",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/builds/{id}/steps/{name}/logs": {
      "get": {
        "summary": "Get the logs for a build step",
        "operationId": "getV4BuildsIdStepsNameLogs",
        "description": "Returns the logs for a step",
        "parameters": [
          {
            "type": "integer",
            "description": "Identifier of this build",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Name of the Step",
            "maxLength": 64,
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "Starting line Number",
            "default": 0,
            "minimum": 0,
            "name": "from",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Max pages sent per request",
            "default": 10,
            "minimum": 1,
            "name": "pages",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Sorting option for lines",
            "default": "ascending",
            "enum": [
              "ascending",
              "descending"
            ],
            "x-convert": {
              "lowercase": true
            },
            "name": "sort",
            "in": "query"
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/List of Log Lines",
              "type": "array"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/builds": {
      "post": {
        "summary": "Create and start a build",
        "operationId": "postV4Builds",
        "description": "Create and start a specific build",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Model 17"
            }
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/events": {
      "post": {
        "summary": "Create and start a event",
        "operationId": "postV4Events",
        "description": "Create and start a specific event",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Create Event"
            }
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/secrets": {
      "post": {
        "summary": "Create a new secret",
        "operationId": "postV4Secrets",
        "description": "Create a specific secret",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Create Secret"
            }
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/validator": {
      "post": {
        "summary": "Validate a given screwdriver.yaml",
        "operationId": "postV4Validator",
        "description": "Returns the parsed config or validation errors",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Validation Input"
            }
          }
        ],
        "tags": [
          "v4"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Execution information"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/webhooks": {
      "post": {
        "summary": "Handle webhook events",
        "operationId": "postV4Webhooks",
        "description": "Acts on pull request, pushes, comments, etc.",
        "tags": [
          "v4"
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/auth/logout": {
      "post": {
        "summary": "Logout of screwdriver",
        "operationId": "postV4AuthLogout",
        "description": "Clears the cookie used for authentication",
        "tags": [
          "v4"
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/validator/command": {
      "post": {
        "summary": "Validate a given sd-command.yaml",
        "operationId": "postV4ValidatorCommand",
        "description": "returns the parsed config, validation errors, or both",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Certify input to template validator"
            }
          }
        ],
        "tags": [
          "v4"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Command validation output"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/validator/template": {
      "post": {
        "summary": "Validate a given sd-template.yaml",
        "operationId": "postV4ValidatorTemplate",
        "description": "returns the parsed config, validation errors, or both",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Certify input to template validator"
            }
          }
        ],
        "tags": [
          "v4"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Template validation output"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/builds/{id}/token": {
      "post": {
        "summary": "Generate a JWT for use throughout a given build",
        "operationId": "postV4BuildsIdToken",
        "description": "Generate a JWT for build using temporal JWT which passed in",
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/JSON Web Token Object"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/pipelines/{id}/startall": {
      "post": {
        "summary": "Start all child pipelines given a specific pipeline",
        "operationId": "postV4PipelinesIdStartall",
        "description": "Start all child pipelines given a specific pipeline",
        "parameters": [
          {
            "type": "integer",
            "description": "Identifier of this pipeline",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/pipelines/{id}/sync": {
      "post": {
        "summary": "Sync a pipeline",
        "operationId": "postV4PipelinesIdSync",
        "description": "Sync a specific pipeline",
        "parameters": [
          {
            "type": "integer",
            "description": "Identifier of this pipeline",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/pipelines/{id}/sync/webhooks": {
      "post": {
        "summary": "Add webhooks or update webhooks if already exists",
        "operationId": "postV4PipelinesIdSyncWebhooks",
        "description": "Add or update Screwdriver API webhooks",
        "parameters": [
          {
            "type": "integer",
            "description": "Identifier of this pipeline",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/pipelines/{id}/sync/pullrequests": {
      "post": {
        "summary": "Add or update pull request of a pipeline",
        "operationId": "postV4PipelinesIdSyncPullrequests",
        "description": "Add or update pull request jobs",
        "parameters": [
          {
            "type": "integer",
            "description": "Identifier of this pipeline",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/tokens/{id}": {
      "put": {
        "summary": "Update a token",
        "operationId": "putV4TokensId",
        "description": "Update a specific token",
        "parameters": [
          {
            "type": "integer",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Update token metadata"
            }
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "delete": {
        "summary": "Remove a single token",
        "operationId": "deleteV4TokensId",
        "description": "Returns null if successful",
        "parameters": [
          {
            "type": "integer",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/events/{id}/stop": {
      "put": {
        "summary": "Stop all builds in an event",
        "operationId": "putV4EventsIdStop",
        "description": "Stop all builds in a specific event",
        "parameters": [
          {
            "type": "integer",
            "description": "Identifier of this event",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Get Event"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/templates/{name}/trusted": {
      "put": {
        "summary": "Update a template's trusted property",
        "operationId": "putV4TemplatesNameTrusted",
        "description": "Returns null if successful",
        "parameters": [
          {
            "type": "string",
            "description": "Template name",
            "maxLength": 64,
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Model 21"
            }
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/tokens/{id}/refresh": {
      "put": {
        "summary": "Refresh a token",
        "operationId": "putV4TokensIdRefresh",
        "description": "Update the value of a token while preserving its other metadata",
        "parameters": [
          {
            "type": "integer",
            "x-constraint": {
              "positive": true
            },
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/commands/{namespace}/{name}/trusted": {
      "put": {
        "summary": "Update a command's trusted property",
        "operationId": "putV4CommandsNamespaceNameTrusted",
        "description": "Returns null if successful",
        "parameters": [
          {
            "type": "string",
            "description": "Namespace of the Command",
            "maxLength": 64,
            "pattern": "/^[\\w-]+$/",
            "name": "namespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Name of the Command",
            "maxLength": 64,
            "pattern": "/^[\\w-]+$/",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Model 22"
            }
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/pipelines/{pipelineId}/tokens/{tokenId}": {
      "put": {
        "summary": "Update a token for pipeline",
        "operationId": "putV4PipelinesPipelineidTokensTokenid",
        "description": "Update a specific token for pipeline",
        "parameters": [
          {
            "type": "integer",
            "description": "Identifier of this pipeline",
            "x-constraint": {
              "positive": true
            },
            "name": "pipelineId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "x-constraint": {
              "positive": true
            },
            "name": "tokenId",
            "in": "path",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Update token metadata"
            }
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "delete": {
        "summary": "Remove a single token for a specific pipeline",
        "operationId": "deleteV4PipelinesPipelineidTokensTokenid",
        "description": "Returns null if successful",
        "parameters": [
          {
            "type": "integer",
            "description": "Identifier of this pipeline",
            "x-constraint": {
              "positive": true
            },
            "name": "pipelineId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "x-constraint": {
              "positive": true
            },
            "name": "tokenId",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/templates/{templateName}/tags/{tagName}": {
      "put": {
        "summary": "Add or update a template tag",
        "operationId": "putV4TemplatesTemplatenameTagsTagname",
        "description": "Add or update a specific template",
        "parameters": [
          {
            "type": "string",
            "description": "Template name",
            "maxLength": 64,
            "name": "templateName",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Name of the Template Tag",
            "maxLength": 30,
            "pattern": "/^[a-zA-Z][\\w-.]+$/",
            "name": "tagName",
            "in": "path",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Model 23"
            }
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "delete": {
        "summary": "Delete a template tag",
        "operationId": "deleteV4TemplatesTemplatenameTagsTagname",
        "description": "Delete a specific template",
        "parameters": [
          {
            "type": "string",
            "description": "Template name",
            "maxLength": 64,
            "name": "templateName",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Name of the Template Tag",
            "maxLength": 30,
            "pattern": "/^[a-zA-Z][\\w-.]+$/",
            "name": "tagName",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/commands/{namespace}/{name}/tags/{tagName}": {
      "put": {
        "summary": "Add or update a command tag",
        "operationId": "putV4CommandsNamespaceNameTagsTagname",
        "description": "Add or update a specific command",
        "parameters": [
          {
            "type": "string",
            "description": "Namespace of the Command",
            "maxLength": 64,
            "pattern": "/^[\\w-]+$/",
            "name": "namespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Name of the Command",
            "maxLength": 64,
            "pattern": "/^[\\w-]+$/",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Name of the Command Tag",
            "maxLength": 30,
            "pattern": "/^[a-zA-Z][\\w-.]+$/",
            "name": "tagName",
            "in": "path",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Model 24"
            }
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/v4/pipelines/{pipelineId}/tokens/{tokenId}/refresh": {
      "put": {
        "summary": "Refresh a pipeline token",
        "operationId": "putV4PipelinesPipelineidTokensTokenidRefresh",
        "description": "Update the value of a token while preserving its other metadata",
        "parameters": [
          {
            "type": "integer",
            "description": "Identifier of this pipeline",
            "x-constraint": {
              "positive": true
            },
            "name": "pipelineId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "x-constraint": {
              "positive": true
            },
            "name": "tokenId",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "v4"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    }
  },
  "definitions": {
    "Model 1": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "x-constraint": {
            "positive": true
          }
        },
        "message": {
          "type": "string",
          "description": "Body of banner to display",
          "example": "Due to planned upgrade of Kubernetes, Screwdriver will be down",
          "maxLength": 512
        },
        "isActive": {
          "type": "boolean",
          "description": "Flag if the banner is active",
          "example": true
        },
        "createTime": {
          "type": "string",
          "description": "When this banner was created",
          "example": "2017-01-06T01:49:50.384359267Z",
          "maxLength": 32,
          "x-format": {
            "isoDate": true
          }
        },
        "createdBy": {
          "type": "string",
          "description": "Username of user creating the banner",
          "example": "batman123",
          "maxLength": 128
        },
        "type": {
          "type": "string",
          "description": "Type/Severity of the banner message",
          "example": "info",
          "enum": [
            "info",
            "warn"
          ],
          "maxLength": 32
        }
      },
      "required": [
        "id",
        "message",
        "isActive",
        "createTime",
        "createdBy",
        "type"
      ]
    },
    "List Banners": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Model 1"
      }
    },
    "scmOrganizations": {
      "type": "array",
      "items": {
        "type": "string",
        "description": "SCM organization name",
        "example": "screwdriver-cd",
        "maxLength": 100
      }
    },
    "Get BuildCluster": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "description": "Identifier of this Job",
          "example": 123345,
          "x-constraint": {
            "positive": true
          }
        },
        "name": {
          "type": "string",
          "description": "Name of the build cluster",
          "example": "iOS",
          "maxLength": 50,
          "pattern": "/^[\\w-]+$/"
        },
        "description": {
          "type": "string",
          "description": "Description of the build cluster",
          "example": "Build cluster for iOS team",
          "maxLength": 100
        },
        "scmContext": {
          "type": "string",
          "description": "The SCM in which the repository exists",
          "example": "github:github.com",
          "maxLength": 128
        },
        "scmOrganizations": {
          "$ref": "#/definitions/scmOrganizations",
          "type": "array"
        },
        "isActive": {
          "type": "boolean",
          "description": "Flag if the the build cluster is active",
          "example": true
        },
        "managedByScrewdriver": {
          "type": "boolean",
          "description": "Flag if the cluster is managed by screwdriver team",
          "example": true
        },
        "maintainer": {
          "type": "string",
[...]
